<div class="navbar">
  <div class="left-navbar">
    <div class="logo-div">
      <%= image_tag "Alexandra-logo.png" %>
    </div>
  </div>
  <div class="right-navbar">
    <div class="nav-links">
      <div class="nav-link">
        <%= link_to "Home", home_path %>
      </div>
      <div class="nav-link">
        <%= link_to "About", about_path %>
      </div>
      <div class="nav-link">
        <%= link_to "Services", services_path %>
      </div>
      <div class="nav-link">
        <%= link_to "News", news_path %>
      </div>
      <div class="nav-link">
        <%= link_to "Contact", contact_path %>
      </div>
    </div>
  </div>
</div>